*{
    margin: 0;
    font-family: 'Roboto', sans-serif;  
}

body{
    background-color: #f6f8f9;
}

header{
    background: url('img/Logo.png') no-repeat white;
    height: 50px;
    border: solid white 10px;
}

h1{
    font-size: 40px;
    margin-left: 55px;
}

main{
    background-color: white;
    height: 650px;
    width: 70%;
    margin: auto;
    margin-top: 50px;
}

.add{
    height: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 10px; 
    padding-left: 50px;
    padding-top: 20px;
    border-bottom: 2px solid #f6f8f9;
}

/*invece di mettere il padding ad add_task e add_section potevo mettere box sizing border-box ad add*/

#add_task{
    background-color: #44abea;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
}

#add_section{
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #DCDCDC;
    color: #DCDCDC;
}

.new_section{
    margin-top: 40px;
    margin-left: 50px;
    font-size: 20px;
    color: #444851;
}

.new_task{
    margin-top: 20px;
    font-size: 18px;
}

.check{
    padding: 2px 4px;
    border-radius: 50%;
    border: 1px solid #64c0a9;
    color: #64c0a9;
    font-size: 10px;
    margin-right: 3px;
}

.cross{
    padding: 2px 5px;
    border-radius: 50%;
    border: 1px solid #ef908c;
    color: #ef908c;
    font-size: 10px;
    margin-right: 3px;
}

.task_button{
    padding: 5px 10px;
    border-radius: 10px;
    color: white;
    font-size: 10px; 
}

.editorial{
    background-color: #44abea;
}

.q1_goals{
    background-color: #9c72e4;
}

.recruiting{
    background-color: #64c0a9;
}

.mobile{
    background-color: #f29e33;
}

.website{
    background-color: #d863a1;
}

.sales{
    background-color: #b0c926;
}


