*{
    margin: 0;
    font-family: 'Roboto', sans-serif;  
}

body{
    background-color: #f6f8f9;
}

header{
    background: url('img/Logo.png') no-repeat white;
    height: 50px;
    width: 80%;
    margin: auto;
    border: solid white 10px;
}

h1{
    font-size: 40px;
    margin-left: 55px;
}

main{
    background-color: white;
    width: 50%;
    height: 600px;
    margin: auto;
    margin-top: 50px;
}

.add{
    height: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 10px; 
    padding-left: 20px;
    padding-top: 20px;
    border-bottom: 2px solid #f6f8f9;
}

#add_task{
    background-color: #44abea;
    padding: 5px 7px;
    border-radius: 5px;
    color: white;
}

#add_section{
    padding: 5px 7px;
    border-radius: 5px;
    border: 1px solid #DCDCDC;
    color: #DCDCDC;
}

